<div class="col-auto">
    <div class="d-flex items-center">

        <div class="row x-gap-20 items-center xxl:d-none">
            <div class="col-auto">
                <button class="d-flex items-center text-14 text-white" data-x-click="currency">
                    <span class="js-currencyMenu-mainTitle">USD</span>
                    <i class="icon-chevron-sm-down text-7 ml-10"></i>
                </button>
            </div>

            <div class="col-auto">
                <div class="w-1 h-20 bg-white-20"></div>
            </div>

            <div class="col-auto">
                <button class="d-flex items-center text-14 text-white" data-x-click="lang">
                    <img src="~/assets/img/general/lang.png" alt="image" class="rounded-full mr-10">
                    <span class="js-language-mainTitle">United Kingdom</span>
                    <i class="icon-chevron-sm-down text-7 ml-15"></i>
                </button>
            </div>
        </div>
