<a asp-action="index" asp-controller="home" class="header-logo mr-30" data-x="header-logo" data-x-toggle="is-logo-dark">
    <img src="~/assets/img/general/logo.png" alt="logo icon">
    <img src="~/assets/img/general/logo.png" alt="logo icon">
</a>