<a href="index.html" class="header-logo mr-30" data-x="header-logo" data-x-toggle="is-logo-dark">
    <img src="~/assets/img/general/logo-light-2.svg" alt="logo icon">
    <img src="~/assets/img/general/logo-dark.svg" alt="logo icon">
</a>