<div class="preloader js-preloader">
    <div class="preloader__wrap">
        <div class="preloader__icon">
            <svg src="~/assets/img/general/logo.svg"></svg>
        </div>
    </div>

    <div class="preloader__title">AMT</div>
</div>