<div class="desktopMenu js-desktopMenu" data-x="desktopMenu" data-x-toggle="is-menu-active">
    <div class="desktopMenu-overlay"></div>

    <div class="desktopMenu__content">
        <div class="mobile-bg js-mobile-bg"></div>

        <div class="px-30 py-20 sm:px-20 sm:py-10 border-bottom-light">
            <div class="row justify-between items-center">
                <div class="col-auto">
                    <div class="text-20 fw-500">Main Menu</div>
                </div>

                <div class="col-auto">
                    <button class="icon-close text-15" data-x-click="desktopMenu"></button>
                </div>
            </div>
        </div>

        <div class="h-full px-30 py-30 sm:px-0 sm:py-10">
            <div class="menu js-navList">
                <ul class="menu__nav  -is-active">

                    <li>
                        <a asp-action="index" asp-controller="home">Home</a>
                    </li>
                    <li ><a asp-action="index" asp-controller="tour">All Tours</a></li>
                    <li class="menu-item-has-children -has-mega-menu">
                        <a data-barba href="#">
                            <span class="mr-10">Categories</span>
                            <i class="icon icon-chevron-sm-down"></i>
                        </a>

                        <ul class="subnav mega-mobile">
                            <li class="subnav__backBtn js-nav-list-back">
                                <a href="#"><i class="icon icon-chevron-sm-down"></i> Category</a>
                            </li>

                            <li class="menu-item-has-children">
                                <a data-barba href="#">
                                    <span class="mr-10">Hotel</span>
                                    <i class="icon icon-chevron-sm-down"></i>
                                </a>

                                <ul class="subnav">
                                    <li class="subnav__backBtn js-nav-list-back">
                                        <a href="#"><i class="icon icon-chevron-sm-down"></i> Hotel</a>
                                    </li>


                                    <li><a href="hotel-list-1.html">Hotel List v1</a></li>

                                    <li><a href="hotel-list-2.html">Hotel List v2</a></li>

                                    <li><a href="hotel-single-1.html">Hotel Single v1</a></li>

                                    <li><a href="hotel-single-2.html">Hotel Single v2</a></li>

                                    <li><a href="booking-pages.html">Booking Page</a></li>

                                </ul>
                            </li>

                            <li class="menu-item-has-children">
                                <a data-barba href="#">
                                    <span class="mr-10">Tour</span>
                                    <i class="icon icon-chevron-sm-down"></i>
                                </a>

                                <ul class="subnav">
                                    <li class="subnav__backBtn js-nav-list-back">
                                        <a href="#"><i class="icon icon-chevron-sm-down"></i> Tour</a>
                                    </li>

                                    <li><a href="tour-list-1.html">Tour List v1</a></li>

                                    <li><a href="tour-grid-1.html">Tour List v2</a></li>

                                    <li><a href="tour-map.html">Tour Map</a></li>

                                    <li><a href="tour-single.html">Tour Single</a></li>

                                </ul>
                            </li>

                            <li class="menu-item-has-children">
                                <a data-barba href="#">
                                    <span class="mr-10">Activity</span>
                                    <i class="icon icon-chevron-sm-down"></i>
                                </a>

                                <ul class="subnav">
                                    <li class="subnav__backBtn js-nav-list-back">
                                        <a href="#"><i class="icon icon-chevron-sm-down"></i> Activity</a>
                                    </li>

                                    <li><a href="activity-list-1.html">Activity List v1</a></li>

                                    <li><a href="activity-grid-1.html">Activity List v2</a></li>

                                    <li><a href="activity-map.html">Activity Map</a></li>

                                    <li><a href="activity-single.html">Activity Single</a></li>

                                </ul>
                            </li>

                            <li class="menu-item-has-children">
                                <a data-barba href="#">
                                    <span class="mr-10">Rental</span>
                                    <i class="icon icon-chevron-sm-down"></i>
                                </a>

                                <ul class="subnav">
                                    <li class="subnav__backBtn js-nav-list-back">
                                        <a href="#"><i class="icon icon-chevron-sm-down"></i> Rental</a>
                                    </li>

                                    <li><a href="rental-list-1.html">Rental List v1</a></li>

                                    <li><a href="rental-grid-1.html">Rental List v2</a></li>

                                    <li><a href="rental-map.html">Rental Map</a></li>

                                    <li><a href="rental-single.html">Rental Single</a></li>

                                </ul>
                            </li>

                            <li class="menu-item-has-children">
                                <a data-barba href="#">
                                    <span class="mr-10">Car</span>
                                    <i class="icon icon-chevron-sm-down"></i>
                                </a>

                                <ul class="subnav">
                                    <li class="subnav__backBtn js-nav-list-back">
                                        <a href="#"><i class="icon icon-chevron-sm-down"></i> Car</a>
                                    </li>

                                    <li><a href="car-list-1.html">Car List v1</a></li>

                                    <li><a href="car-grid-1.html">Car List v2</a></li>

                                    <li><a href="car-map.html">Car Map</a></li>

                                    <li><a href="car-single.html">Car Single</a></li>

                                </ul>
                            </li>

                            <li class="menu-item-has-children">
                                <a data-barba href="#">
                                    <span class="mr-10">Cruise</span>
                                    <i class="icon icon-chevron-sm-down"></i>
                                </a>

                                <ul class="subnav">
                                    <li class="subnav__backBtn js-nav-list-back">
                                        <a href="#"><i class="icon icon-chevron-sm-down"></i> Cruise</a>
                                    </li>

                                    <li><a href="cruise-list-1.html">Cruise List v1</a></li>

                                    <li><a href="cruise-grid-1.html">Cruise List v2</a></li>

                                    <li><a href="cruise-map.html">Cruise Map</a></li>

                                    <li><a href="cruise-single.html">Cruise Single</a></li>

                                </ul>
                            </li>

                            <li class="menu-item-has-children">
                                <a data-barba href="#">
                                    <span class="mr-10">Flights</span>
                                    <i class="icon icon-chevron-sm-down"></i>
                                </a>

                                <ul class="subnav">
                                    <li class="subnav__backBtn js-nav-list-back">
                                        <a href="#"><i class="icon icon-chevron-sm-down"></i> Flights</a>
                                    </li>

                                    <li><a href="flights-list.html">Flights List v1</a></li>

                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children -has-mega-menu">
                        <a data-barba href="#">
                            <span class="mr-10">Countries</span>
                            <i class="icon icon-chevron-sm-down"></i>
                        </a>

                        <ul class="subnav mega-mobile">
                            <li class="subnav__backBtn js-nav-list-back">
                                <a href="#"><i class="icon icon-chevron-sm-down"></i> Category</a>
                            </li>

                            <li class="menu-item-has-children">
                                <a data-barba href="#">
                                    <span class="mr-10">Hotel</span>
                                    <i class="icon icon-chevron-sm-down"></i>
                                </a>

                                <ul class="subnav">
                                    <li class="subnav__backBtn js-nav-list-back">
                                        <a href="#"><i class="icon icon-chevron-sm-down"></i> Hotel</a>
                                    </li>


                                    <li><a href="hotel-list-1.html">Hotel List v1</a></li>

                                    <li><a href="hotel-list-2.html">Hotel List v2</a></li>

                                    <li><a href="hotel-single-1.html">Hotel Single v1</a></li>

                                    <li><a href="hotel-single-2.html">Hotel Single v2</a></li>

                                    <li><a href="booking-pages.html">Booking Page</a></li>

                                </ul>
                            </li>

                            <li class="menu-item-has-children">
                                <a data-barba href="#">
                                    <span class="mr-10">Tour</span>
                                    <i class="icon icon-chevron-sm-down"></i>
                                </a>

                                <ul class="subnav">
                                    <li class="subnav__backBtn js-nav-list-back">
                                        <a href="#"><i class="icon icon-chevron-sm-down"></i> Tour</a>
                                    </li>

                                    <li><a href="tour-list-1.html">Tour List v1</a></li>

                                    <li><a href="tour-grid-1.html">Tour List v2</a></li>

                                    <li><a href="tour-map.html">Tour Map</a></li>

                                    <li><a href="tour-single.html">Tour Single</a></li>

                                </ul>
                            </li>

                            <li class="menu-item-has-children">
                                <a data-barba href="#">
                                    <span class="mr-10">Activity</span>
                                    <i class="icon icon-chevron-sm-down"></i>
                                </a>

                                <ul class="subnav">
                                    <li class="subnav__backBtn js-nav-list-back">
                                        <a href="#"><i class="icon icon-chevron-sm-down"></i> Activity</a>
                                    </li>

                                    <li><a href="activity-list-1.html">Activity List v1</a></li>

                                    <li><a href="activity-grid-1.html">Activity List v2</a></li>

                                    <li><a href="activity-map.html">Activity Map</a></li>

                                    <li><a href="activity-single.html">Activity Single</a></li>

                                </ul>
                            </li>

                            <li class="menu-item-has-children">
                                <a data-barba href="#">
                                    <span class="mr-10">Rental</span>
                                    <i class="icon icon-chevron-sm-down"></i>
                                </a>

                                <ul class="subnav">
                                    <li class="subnav__backBtn js-nav-list-back">
                                        <a href="#"><i class="icon icon-chevron-sm-down"></i> Rental</a>
                                    </li>

                                    <li><a href="rental-list-1.html">Rental List v1</a></li>

                                    <li><a href="rental-grid-1.html">Rental List v2</a></li>

                                    <li><a href="rental-map.html">Rental Map</a></li>

                                    <li><a href="rental-single.html">Rental Single</a></li>

                                </ul>
                            </li>

                            <li class="menu-item-has-children">
                                <a data-barba href="#">
                                    <span class="mr-10">Car</span>
                                    <i class="icon icon-chevron-sm-down"></i>
                                </a>

                                <ul class="subnav">
                                    <li class="subnav__backBtn js-nav-list-back">
                                        <a href="#"><i class="icon icon-chevron-sm-down"></i> Car</a>
                                    </li>

                                    <li><a href="car-list-1.html">Car List v1</a></li>

                                    <li><a href="car-grid-1.html">Car List v2</a></li>

                                    <li><a href="car-map.html">Car Map</a></li>

                                    <li><a href="car-single.html">Car Single</a></li>

                                </ul>
                            </li>

                            <li class="menu-item-has-children">
                                <a data-barba href="#">
                                    <span class="mr-10">Cruise</span>
                                    <i class="icon icon-chevron-sm-down"></i>
                                </a>

                                <ul class="subnav">
                                    <li class="subnav__backBtn js-nav-list-back">
                                        <a href="#"><i class="icon icon-chevron-sm-down"></i> Cruise</a>
                                    </li>

                                    <li><a href="cruise-list-1.html">Cruise List v1</a></li>

                                    <li><a href="cruise-grid-1.html">Cruise List v2</a></li>

                                    <li><a href="cruise-map.html">Cruise Map</a></li>

                                    <li><a href="cruise-single.html">Cruise Single</a></li>

                                </ul>
                            </li>

                            <li class="menu-item-has-children">
                                <a data-barba href="#">
                                    <span class="mr-10">Flights</span>
                                    <i class="icon icon-chevron-sm-down"></i>
                                </a>

                                <ul class="subnav">
                                    <li class="subnav__backBtn js-nav-list-back">
                                        <a href="#"><i class="icon icon-chevron-sm-down"></i> Flights</a>
                                    </li>

                                    <li><a href="flights-list.html">Flights List v1</a></li>

                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a asp-action="contact" asp-controller="Home">Contact</a> </li>
                    <li><a asp-action="about" asp-controller="Home">About Us</a></li>
                </ul>
            </div>
        </div>
    </div>
