@model List<CategoryViewModel>
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row y-gap-20 justify-between items-end pb-60 lg:pb-40 md:pb-32">
                <div class="d-flex justify-between">

                    <h1 class="text-30 lh-14 fw-600">All Categories</h1>
                    <div class="d-flex flex-row">
                        <a asp-action="create" asp-controller="category" class="button h-50 px-24 -dark-1 bg-blue-1 text-white">
                            Add Tour Category <div class="icon-arrow-top-right ml-15"></div>
                        </a>
                        <a asp-action="deletedcategories" asp-controller="category" class="button -md -dark-1 bg-yellow-1 text-dark-1">
                            Deleted Categories <div class="icon-arrow-top-right ml-15"></div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Category Name</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (CategoryViewModel categoryVM in Model)
                {
                    <tr>
                        <td>@categoryVM.CategoryName</td>
                        <td>
                            <a asp-area="admin" asp-action="update" asp-controller="category" asp-route-categoryId="@categoryVM.Id" class="button -md -dark-1 bg-blue-1 text-white-1">Update</a>
                            <a asp-area="admin" asp-action="safedelete" asp-controller="category" asp-route-categoryId="@categoryVM.Id" class="button -md -dark-1 bg-yellow-1 text-dark-1">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
</div>