@{
    Layout = "_Layout2";
}
@model AboutViewModel
<section class="section-bg layout-pt-lg layout-pb-lg">
    <div class="section-bg__item col-12">
        <img src="~/assets/img/general/baku.jpeg" alt="image">
    </div>

    <div class="container">
        <div class="row justify-center text-center">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <h1 class="text-40 md:text-25 fw-600 text-white">Looking for joy?</h1>
                <div class="text-white mt-15">Your trusted trip companion</div>
            </div>
        </div>
    </div>
</section>
<section class="layout-pt-md">
    <div class="container">
        <div class="row y-gap-30 justify-between items-center">
            <div class="col-lg-5">
                <h2 class="text-30 fw-600">About AddMeTour Company</h2>

                <p class="text-dark-1 mt-60 lg:mt-40 md:mt-20">
                    Welcome to Addmetour - Your Gateway to the Enchanting Caucasus!
                    <br>
                    <br>
                    At Addmetour, we don't just offer tours; we create immersive experiences that linger in your memories forever. Specializing in exploring the rich tapestry of the Caucasus region, we are your trusted partner in discovering the hidden gems of Azerbaijan, Georgia, and beyond.
                    <br>
                    <b>Our Story</b>
                    <br>
                    Addmetour was born out of a passion for cultural exploration and a desire to share the beauty of the Caucasus with the world. Our founders, avid travelers themselves, envisioned a company that goes beyond the ordinary, offering curated journeys that capture the essence of each destination.
                    <br><br>
                    <b>Join Us on the Adventure</b>
                    <br>
                    Embark on a journey with Addmetour and let us be your guide to the breathtaking landscapes, vibrant cultures, and hidden treasures of the Caucasus. Discover the magic of Azerbaijan, Georgia, and beyond with a travel experience that goes beyond the ordinary.
                    <br>
                    <b>Ready to explore? Browse our tours and start planning your next adventure with Addmetour!</b>
                </p>
            </div>

            <div class="col-lg-6">
                <img src="~/assets/img/general/logo.svg" alt="image" class="rounded-4">
            </div>
        </div>
    </div>
</section>

<section class="layout-pt-lg layout-pb-md">
    <div data-anim-wrap class="container">
        <div data-anim-child="slide-up delay-1" class="row justify-center text-center">
            <div class="col-auto">
                <div class="sectionTitle -md">
                    <h2 class="sectionTitle__title">Why Choose Us</h2>
                    <p class=" sectionTitle__text mt-5 sm:mt-0">These popular destinations have a lot to offer</p>
                </div>
            </div>
        </div>

        <div class="row y-gap-40 justify-between pt-50">

            @foreach (var item in Model.Features)
            {
                <div data-anim-child="slide-up delay-2" class="col-lg-3 col-sm-6">

                    <div class="featureIcon -type-1 ">
                        <div class="d-flex justify-center">
                            <img src="~/assets/img/features/@item.ImageUrl" alt="image" class="js-lazy">
                        </div>

                        <div class="text-center mt-30">
                            <h4 class="text-18 fw-500">@item.Title</h4>
                            <p class="text-15 mt-10">@item.Description</p>
                        </div>
                    </div>

                </div>

            }
        </div>
    </div>
</section>
