@model MastheadUpdateViewModel

<div class="tabs__content pt-30 js-tabs-content">
    <div class="tabs__pane -tab-item-1 is-tab-el-active">
        <form method="post" enctype="multipart/form-data" asp-action="update" asp-controller="masthead">
            <div class="col-xl-10">
                <div class="text-18 fw-500 mb-10">Update Masthead</div>
                <div class="row x-gap-20 y-gap-20">
                    <div class="col-12">

                        <div class="form-input ">
                            <input asp-for="TitleYellow" type="text" required>
                            <label asp-for="TitleYellow" class="lh-1 text-16 text-light-1">Yellow Title</label>
                            <span asp-validation-for="TitleYellow" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="col-12">

                        <div class="form-input ">
                            <input asp-for="TitleWhite" type="text" required>
                            <label asp-for="TitleWhite" class="lh-1 text-16 text-light-1">White Title</label>
                            <span asp-validation-for="TitleWhite" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="col-12">

                        <div class="form-input ">
                            <textarea asp-for="Description" required rows="5"></textarea>
                            <label asp-for="Description" class="lh-1 text-16 text-light-1">Description</label>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6 mb-3 ">
                    <label asp-for="BigImageFile" class="form-label">Big Image</label>
                    <input asp-for="BigImageFile" class="form-control ">
                    <span asp-validation-for="BigImageFile" class="text-danger"></span>
                </div>
                <div class="col-lg-6 mb-3 ">
                    <label asp-for="SmallImageFile1" class="form-label">Small Image</label>
                    <input asp-for="SmallImageFile1" class="form-control ">
                    <span asp-validation-for="SmallImageFile1" class="text-danger"></span>
                </div>
                <div class="col-lg-6 mb-3 ">
                    <label asp-for="SmallImageFile2" class="form-label">Small Image</label>
                    <input asp-for="SmallImageFile2" class="form-control ">
                    <span asp-validation-for="SmallImageFile2" class="text-danger"></span>
                </div>
                <input asp-for="Id" type="hidden" value="@Model.Id">

                <div class="border-top-light mt-30 mb-30"></div>

            </div>


            <div class="d-inline-block pt-30">

                <div class="text-center">
                    <button type="submit" class="button h-50 px-24 -dark-1 bg-blue-1 text-white"> Update Masthead</button>
                </div>

            </div>
        </form>
    </div>
</div>